###
# Unity folders and files
###
/TheMountain/[Aa]ssets/Packages/
/TheMountain/[Bb]uild/
/TheMountain/[Ll]ibrary/
/TheMountain/[Ll]ocal[Cc]ache/
/TheMountain/[Oo]bj/
/TheMountain/[Tt]emp/
/TheMountain/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
